<div class="d-flex flex-column container mx-auto mt-4">
  <div class="d-flex justify-content-between">
    <h2 class="">Sign In</h2>
    <button class="btn btn-success">
      <a class="text-white text-decoration-none" routerLink="/signup"
        >Sign Up</a
      >
    </button>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        placeholder="Email User"
        formControlName="email"
      />
      <div
        *ngIf="
          (form.get('email')?.invalid && form.get('email')?.dirty) ||
          form.get('email')?.touched
        "
      >
        <span
          class="text-danger"
          *ngIf="form.get('email')?.hasError('required')"
          >Trường Name là bắt buộc</span
        >
        <span class="text-danger" *ngIf="form.get('email')?.hasError('email')"
          >Khong dung dinh dang Email</span
        >
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" class="form-control" formControlName="password" />
      <div
        *ngIf="
          (form.get('password')?.invalid && form.get('password')?.dirty) ||
          form.get('password')?.touched
        "
      >
        <span
          class="text-danger"
          *ngIf="form.get('password')?.hasError('required')"
          >Trường Password là bắt buộc</span
        >
        <span class="text-danger" *ngIf="form.get('password')?.hasError('min')"
          >Trường Password không được để âm</span
        >
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
