<div class="d-flex flex-column">
  <h2 class="text-center">Add Product</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label">Name Product</label>
      <input
        type="email"
        class="form-control"
        placeholder="Ten san pham"
        formControlName="name"
      />
      <div
        *ngIf="
          (form.get('name')?.invalid && form.get('name')?.dirty) ||
          form.get('name')?.touched
        "
      >
        <span class="text-danger" *ngIf="form.get('name')?.hasError('required')"
          >Trường Name là bắt buộc</span
        >
        <span
          class="text-danger"
          *ngIf="form.get('name')?.hasError('minlength')"
          >Trường Name ít nhất 4 kí tự</span
        >
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="number" class="form-control" formControlName="price" />
      <div
        *ngIf="
          (form.get('price')?.invalid && form.get('price')?.dirty) ||
          form.get('price')?.touched
        "
      >
        <span
          class="text-danger"
          *ngIf="form.get('price')?.hasError('required')"
          >Trường Name là bắt buộc</span
        >
        <span class="text-danger" *ngIf="form.get('price')?.hasError('min')"
          >Trường Price không được để âm</span
        >
      </div>
    </div>
    <div class="mb-3">
      <label class="form-check-label">Image URL</label>
      <input class="form-control" type="text" formControlName="imageUrl" />
    </div>
    <div class="mb-3">
      <label class="form-check-label">Description</label>
      <textarea class="form-control" formControlName="description"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
